{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/leaflet.css')}}"/>
{{end}}
{{block header}}
<div class="jumbotron jumbotron-fluid" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="center">
      <div id="mapid23" style="width:100%;"></div>
  </div>
  <div class="center">
      <div id="movie" style="width:100%;">
           <h2>movie here</h2>
      </div>
  </div>
</div>

{{end}}

<div class="row">
  <div class="col-md-12">
    {{if 'message' in globals():}}
    <h2>{{=message}}</h2>
    {{elif 'content' in globals():}}
    {{=content}}
    {{else:}}
    {{=BEAUTIFY(response._vars)}}
    {{pass}}
  </div>
</div>
{{block page_js}}
<script src="{{=URL('static','js/leaflet.js')}}"></script>
    <script type="text/javascript">
        $( "#mapid2" ).height( "100vh" )
//         tilesLayer2 = new L.TileLayer('https://mapsmaps.pythonanywhere.com/default/gettile/example/{z}/{x}/{y}.png');

        function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }

        map2 = new L.Map('mapid2').setView([0,0],2); // [lat,lng]
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map2);

       L.geoJSON({{=XML(str_json)}}, {
             style: {
            "color": "#ff7800",
            "weight": 5,
            "opacity": 0.65
                 },

            onEachFeature: onEachFeature,

            pointToLayer: function (feature, latlng) {
                return L.circleMarker(latlng, {
                    radius: 8,
                    fillColor: "#EDE513",
                    color: "#000",
                    weight: 1,
                    opacity: 1,
                    fillOpacity: 0.8
                });
            }}
            
      ).addTo(map2);

    </script>
{{end page_js}}
